html, body, #app {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
}
/* *{border: 1px red solid;} */
.icon-github {
    content: url(../../../public/icon/github.svg);
}